body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTALQgP_u_bvfxC9n-nah-PoiBYNuvISD07bA&usqp=CAU)
    
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: rgb(178, 240, 218);
    border-radius: 5%;
}
form{
    margin: auto;
    padding: 10%;
}

#id{
    width: 100%;
}