*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.div1{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
    margin: 2px;
}
.div2{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}
.div3{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}
.div4{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
    margin: 2px;
}
.div5{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}
.div6{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}
.div7{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
    margin: 2px;
}
.div8{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}
.div9{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}
.div10{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
    margin: 2px;
}
.div11{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}
.div12{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: inline-block;
}


.div1 img{
    height: 400px;
    width: 400px;
}
.div2 img{
    height: 400px;
    width: 400px;
}
.div3 img{
    height: 400px;
    width: 400px;
}
.div4 img{
    height: 400px;
    width: 400px;
}
.div5 img{
    height: 400px;
    width: 400px;
}
.div6 img{
    height: 400px;
    width: 400px;
}
.div7 img{
    height: 400px;
    width: 400px;
}
.div8 img{
    height: 400px;
    width: 400px;
}
.div9 img{
    height: 400px;
    width: 400px;
}
.div10 img{
    height: 400px;
    width: 400px;
}
.div11 img{
    height: 400px;
    width: 400px;
}
.div12 img{
    height: 400px;
    width: 400px;
}

.div1:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div2:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div3:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div4:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div5:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div6:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div7:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div8:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div9:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div10:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div11:hover{
    cursor: pointer;
    transform: scale(0.5);
}
.div12:hover{
    cursor: pointer;
    transform: scale(0.5);
}


