*{
    background-color:black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#first{
    
    text-align: center;
    text-decoration: underline;
}
pre{
    margin: 30px;
    text-align: end;
}
img{
    width: 50% ;
    margin: 200px;
}

h1{
    margin-left: 50px;
    font-weight: bolder;
}
.second{
    margin: 50px;
    width: 40%;
    font-style: italic;
}
.left{
    width: 400px;
    height: 400px;
    display: inline-block;
}
.right{
    width: 400px;
    height:400px;
    display: inline-block;
}